<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kms.dao.SignDao">
	<insert id="add" parameterType="org.kms.pojo.Sign"
		useGeneratedKeys="true" keyColumn="id" keyProperty="id">
		insert into Sign(stuId,date)
			values(#{stuId},#{date})
	</insert>
	
	<update id="update" parameterType="org.kms.pojo.Sign">
		update Sign set stuId=#{stuId},date=#{date}
		where id = #{id}
	</update>
	
	<delete id="deleteByIds" parameterType="java.lang.reflect.Array">
		delete from tab_Sign where id in
		<foreach collection="array" item="item" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<select id="getAll" resultType="org.kms.pojo.Sign">
		select * from tab_Sign
	</select>
	
	<sql id="conditionSql">
		<if test="condition != null">
			<where>
				
			</where>
		</if>
	</sql>
	
	<select id="getById" parameterType="int" resultType="org.kms.pojo.Sign">
		select * from tab_Sign where id = #{id}
	</select>
	
	
	<select id="getListByCondition" resultType="org.kms.pojo.Sign">
		select * from tab_Sign
			<include refid="conditionSql"></include>
		order by ${column} ${orderBy}
			limit #{start},#{limit}
	</select>
	<select id="getCountByCondition" resultType="int">
		select count(1) from tab_Sign
			<include refid="conditionSql"></include>
	</select>
	
	
	
	
	
	
</mapper>